<a href="https://colab.research.google.com/github/sunse523/github/blob/main/spark_exerceise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

import findspark
findspark.init()

#Create a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better


#Creating spark context-Its like connecting to spark cluster
from pyspark import SparkConf 
from pyspark.context import SparkContext 

sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

# create the rdd
rdd = sc.textFile('CoronaStatsSmall.csv')
rdd0 = spark.read.csv('/content/CoronaStatsSmall.csv')

CoronaStatsSmall.csv		 spark-3.1.1-bin-hadoop3.2.tgz.3
sample_data			 spark-3.1.1-bin-hadoop3.2.tgz.4
spark-3.1.1-bin-hadoop3.2	 spark-3.1.1-bin-hadoop3.2.tgz.5
spark-3.1.1-bin-hadoop3.2.tgz	 spark-3.1.1-bin-hadoop3.2.tgz.6
spark-3.1.1-bin-hadoop3.2.tgz.1  spark-3.1.1-bin-hadoop3.2.tgz.7
spark-3.1.1-bin-hadoop3.2.tgz.2

In [213]:
#q1
rdd.count()

5623

In [170]:
rdd0.count()

5623

In [125]:
rdd0.columns

['_c0', '_c1', '_c2', '_c3', '_c4', '_c5', '_c6', '_c7', '_c8', '_c9', '_c10']

In [126]:
rdd1 = rdd0.toDF('dateRep','day','month','year','cases','deaths','countriesAndTerritories','geoId','countryterritoryCode','popData2020','continentExp')

In [214]:
#q2
rdd_1 = rdd_1.filter(lambda line : "Italy" in line)
rdd_1.count()

807

In [215]:
#q3
rdd_2= rdd_1.map(lambda line: (line.split(",")[0],int(line.split(",")[4])))
rdd_2.sortBy(lambda x : x[1], ascending = False).take(10)

[('18/01/2022', 228123),
 ('11/01/2022', 220519),
 ('06/01/2022', 219430),
 ('25/01/2022', 215051),
 ('19/01/2022', 200966),
 ('14/01/2022', 200869),
 ('20/01/2022', 198865),
 ('08/01/2022', 197535),
 ('12/01/2022', 196205),
 ('15/01/2022', 192936)]

In [216]:
#q4
rdd_cont = rdd.map(lambda x : x.lower().split(",")[6])
 
rdd_cont.distinct().collect()
rdd_cont.distinct().count()

7

In [217]:
#q5
rdd_q5 = rdd.map(lambda x : (x.lower().split(",")[6], 1))
rddq5re = rdd_q5.reduceByKey(lambda a, b : a + b)
rddq5re.collect()

[('italy', 807),
 ('latvia', 802),
 ('liechtenstein', 780),
 ('luxembourg', 806),
 ('malta', 796),
 ('lithuania', 829),
 ('netherlands', 803)]